<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArMatjEyW3NKN1yD5e2eD2GHJe-nB8Rao</string>
	<key>GCM_SENDER_ID</key>
	<string>714794753331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tennisreminder</string>
	<key>PROJECT_ID</key>
	<string>tennisremind</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisremind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714794753331:ios:6c7a94580c1f21031f7246</string>
</dict>
</plist>